.box-container{
    display: grid;
    grid-gap: 16px;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
}

.box-container .pokemon-box{
    width: 100%;
    height: 200px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
    display: grid;
    text-align: center;
    border-radius: 15px;
}

.box-container .pokemon-box img{
    max-width: 70px;
    display: block;
    margin: 10px auto;
}

button{
    background-color: red;
    color: white;
    margin: 10px;
    border-radius: 25px;
}

.catched{
    width: 15px;
    height: 15px;
    visibility: visible;
}